* {
	padding: 0;
	margin: 0;
	font-family: times new roman;
}
body{
	background:url(img.jpg) no-repeat;
	background-size:cover;
	color:#000;
}
.model-details{
	position: absolute;
	top: 50%;
	left: 50%;
	transform : translate(-50%, -50%);
	width: 350px;
}
.model-details h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
	color: #000;
}
.model-details P{
	font-size: 20px;
	margin: 15px 0;
}
.model-details input{
	font-size:16px;
	padding: 15px 10px;
	width: 100%;
	border: 0;
	border-radius: 5px;
	outline: none;
}
.model-details button{
	font-size: 18px;
	font-weight: bold;
	margin:20px 0;
	padding:10px 15px;
	width: 50%;
	border: 0;
	border-radius: 5px;
	background-color:#fff;
}
.model-details button:hover{
}
	
	
